*{
    margin: 0;
    padding: 0;
}

#main{
    color: rgb(21, 3, 111);
    text-align: center;
}

.highlight{
    background-color: rgb(22, 70, 245);
    color: rgb(224, 148, 148);
}

.text{
    font-family: cursive;
    font-weight: bolder;
    line-height: 1.6;
}

body{
    background-color: rgb(230, 230, 255);
}
